[submodule "dependencies/external/rpi_ws281x"]
	path = dependencies/external/rpi_ws281x
	url = https://github.com/jgarff/rpi_ws281x
	branch = master
[submodule "dependencies/external/flatbuffers"]
	path = dependencies/external/flatbuffers
	url = https://github.com/google/flatbuffers
	branch = master
[submodule "dependencies/external/mbedtls"]
	path = dependencies/external/mbedtls
	url = https://github.com/ARMmbed/mbedtls
[submodule "dependencies/external/libcec"]
	path = dependencies/external/libcec
	url = https://github.com/awawa-dev/libcec.git
[submodule "dependencies/external/qmqtt"]
	path = dependencies/external/qmqtt
	url = https://github.com/emqx/qmqtt.git
	ignore = dirty
[submodule "dependencies/external/xz"]
	path = dependencies/external/xz
	url = https://github.com/tukaani-project/xz.git
