[Desktop Entry]
Name=HyperHDR
GenericName=HyperHDR Ambient Lighting
Comment=Real-time ambient lighting system for TVs, monitors and LEDs
Icon=hyperhdr
Terminal=false
TryExec=hyperhdr
Exec=hyperhdr
Type=Application
StartupNotify=false
Categories=AudioVideo;Video;Settings;Multimedia;
