name: HyperHDR Package Build (Github Pages Repo)

on:
  push:
    tags:        
      - '*'
  workflow_dispatch:

env:
    USE_CACHE: "false"
    RESET_CACHE: "false"

jobs:
######################################
###### Upload to HyperHDR repo #######
######################################
  Linux:
    name: ${{ matrix.architecture }}/${{ matrix.distroName}}:${{ matrix.distroVersion }}
    runs-on: ${{ startsWith(matrix.architecture, 'arm') && 'ubuntu-24.04-arm' || 'ubuntu-24.04' }}
    env:
      platform: ${{ startsWith(matrix.architecture, 'arm') && 'rpi' || 'linux' }}
    strategy:      
      matrix:
        distroName: [debian]
        distroVersion: [bullseye, bookworm, trixie]
        architecture: [amd64, armhf, arm64]        
        include:
          - distroName: ubuntu
            distroVersion: jammy
            architecture: amd64
          - distroName: ubuntu
            distroVersion: noble
            architecture: amd64
          - distroName: ubuntu
            distroVersion: questing
            architecture: amd64
          - distroName: fedora
            distroVersion: 43
            architecture: amd64
          - distroName: archlinux
            distroVersion: latest
            architecture: amd64

    steps:   
      - uses: actions/checkout@v6.0.0
        with:
          submodules: true

      - name: Download ccache files
        if: env.USE_CACHE == 'true'
        uses: actions/cache@v4.3.0
        with:
           path: .ccache
           key: ${{ matrix.architecture }}-${{ matrix.distroName }}-${{ matrix.distroVersion }}-ccache-${{ github.run_id }}
           restore-keys: ${{ matrix.architecture }}-${{ matrix.distroName }}-${{ matrix.distroVersion }}-ccache-

      - name: Build packages
        env:
          ARCHITECTURE: ${{ matrix.architecture }}
          DISTRO_NAME: ${{ matrix.distroName }}
          DISTRO_VERSION: ${{ matrix.distroVersion }}
          PLATFORM: ${{ env.platform }}
          USE_CCACHE: ${{ env.USE_CACHE }}
          RESET_CACHE: ${{ env.RESET_CACHE }}
          USE_STANDARD_INSTALLER_NAME: true
        shell: bash
        run: |
          ./build.sh

      - name: Get destination path
        run: |
          echo "REPO_DIR=repo/pool/${{ matrix.distroVersion }}" >> $GITHUB_ENV

      - name: Move installers
        run: |
          mkdir -p ${{ env.REPO_DIR }}
          mkdir -p repo/others
          mv deploy/Hyper*.deb ${{ env.REPO_DIR }} ||: 
          mv deploy/Hyper*.rpm repo/others ||: 
          mv deploy/Hyper*.zst repo/others ||: 
          rm -r repo/pool/ArchLinux ||: 

      - name: Upload artifacts from commit        
        uses: actions/upload-artifact@v5.0.0
        with:
          name: release-artifact-${{ matrix.architecture }}-${{ matrix.distroName }}-${{ matrix.distroVersion }}
          path: repo

  Upload:
    name: Upload to Github Pages
    runs-on: ubuntu-24.04
    needs: [Linux]

    steps:
      - uses: actions/checkout@v6.0.0
        with:
          submodules: false
      - name: Download artifacts
        uses: actions/download-artifact@v7.0.0
        with:
          path: repo
          pattern: release-artifact-*
          merge-multiple: true    
      - name: Display structure of artifacts
        run: ls -R repo
      - name: Deploy the packages
        uses: JamesIves/github-pages-deploy-action@v4.7.4
        with:
          repository-name: awawa-dev/awawa-dev.github.io
          branch: upload
          folder: repo
          target-folder: repo
          clean: false
          commit-message: Release for ${{github.ref_name}}
          ssh-key: ${{ secrets.UPLOADER_KEY }}
